# 忽略编译输出文件和目录
# dist/
# build/
# out/

# 忽略依赖目录
node_modules/

# 忽略临时文件
*.tmp
*.log

# 忽略编辑器配置文件
.vscode/
.idea/

# 忽略操作系统生成的文件
.DS_Store
Thumbs.db

# 忽略敏感信息文件
.env

# 忽略自动生成的文件
*.generated.*

# 忽略备份文件
*.bak
*.backup
*.swp
